.goals {
  border-top: 1px solid $color-buttons;
}

.goals__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 1188px;
}

.goals__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hex {
  background-image: url(../../assets/images/goals/rectangle.png);
  @include background;
  height: 175px;
  width: 255px;
  position: relative;
  margin-bottom: 35px;
}

.goals__image {
  position: absolute;
  top: 10%;
  left: 20%;
}

.goals__description {
  max-width: 150px;
  text-align: center;
  font-family: $secondary-font-stack;
  font-size: $button-list-font-size;
}
